<style type="text/css">
#gallery {
	margin-top:10px;
}

#images {
	display:none;
}

.panel {
	float:left;
	border:12px solid #111;
  background-color:#555;
	border-right:none;
}

ul.exposureThumbs {
	background:#111;
	border-bottom:22px solid #111;
	padding:0;
	margin:0;
	list-style-type:none;
}

ul.exposureThumbs li {
	margin:0 0 12px 0;
	padding:0;
	text-align:center;
	display:none;
}

ul.exposureThumbs li img {
	cursor:pointer;
}

ul.exposureThumbs li.last {
	margin:0;
}

.exposureTarget {
	width:800px;
	height:600px;
	background-color:#111;
	background-image:url(res/loader.gif);
	background-repeat:no-repeat;
	background-position:center center;
	float:left;
	padding:0;
	margin:0;
	border:12px solid #111;
	position:relative;
	overflow:hidden;
}

.exposureWrapper {
	position:absolute;
	top:0;
	left:0;
}

.exposureWrapper img {
	cursor:pointer;
	position:absolute;
	top:0;
	left:0;
}

.exposureLoaded {
	background-image:none;
}

.exposureData {
	position:absolute;
 	left:0;
 	right:0;
 	bottom:0;
	height:20px;
	padding:7px;
	background-image:url(/assets/veil.png);
	color:#fff;
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:13px;
	font-weight:bold;
}

ul.exposureThumbs li {
	width:150px;
	height:79px;
}

.exposureSlideshowControls a,
.exposureControls span,
.exposureControls a {
	font-family:Arial,Verdana,Helvetica,sans-serif;
	font-size:11px;
	padding:8px;
	background-color:#555;
	display:block;
	float:left;
}

.exposureSlideshowControls a,
.exposureControls a {
	color:#ccc;
	text-decoration:none;
	outline:none;
}

.exposureSlideshowControls a:active,
.exposureSlideshowControls a:hover,
.exposureControls a:active,
.exposureControls a:hover {
	background-color:#444;
	color:#ddd;
}

.exposurePaging .active {
	color:#fff;
	background-color:#111;
}

.clear {
	clear:both;
}

p.info {
	margin:40px auto;
	text-align:center;
	width:600px;
}

p.info a {
	color:#006fc0;
}

p.info a:hover, p.info a:active {
	color:#0084e7;
}

</style>

<script type="text/javascript">
	$(function(){
		var gallery = $('#images');
		gallery.exposure({
	    slideshowDelay : 4000,
	    autostartSlideshow : true,
	    controlsTarget : '#controls',
			controls : { prevNext : true, pageNumbers : true, firstLast : false },
			visiblePages : 3,
			slideshowControlsTarget : '#slideshow',
			onThumb : function(thumb) {
				var li = thumb.parents('li');
				var fadeTo = li.hasClass($.exposure.activeThumbClass) ? 1 : 0.3;

				thumb.css({display : 'none', opacity : fadeTo}).stop().fadeIn(200);

				thumb.hover(function() {
					thumb.fadeTo('fast',1);
				}, function() {
					li.not('.' + $.exposure.activeThumbClass).children('img').fadeTo('fast', 0.3);
				});
			},
			onImage : function(image, imageData, thumb) {
				// Fade out the previous image.
				image.siblings('.' + $.exposure.lastImageClass).stop().fadeOut(500, function() {
					$(this).remove();
				});

				// Fade in the current image.
				image.hide().stop().fadeIn(1000);

				// Fade in selected thumbnail (and fade out others).
				if (gallery.showThumbs && thumb && thumb.length) {
					thumb.parents('li').siblings().children('img.' + $.exposure.selectedImageClass).stop().fadeTo(200, 0.3, function() { $(this).removeClass($.exposure.selectedImageClass); });
					thumb.fadeTo('fast', 1).addClass($.exposure.selectedImageClass);
				}
			},
			onPageChanged : function() {
				// Fade in thumbnails on current page.
				gallery.find('li.' + $.exposure.currentThumbClass).hide().stop().fadeIn('fast');
			}
		});
	});
</script>


<div class="container" style="margin-top:80px">
  <h1>Backpacking</h1>
	<div id="gallery">
		<div class="panel">
			<ul id="images">
<% @files.each do |x| %>
				<li><a href="<%= x[:path] %>">
					<img src="<%= x[:thumb] %>" title="<%= x[:caption] %>" />
				</a></li>
<% end %>
			</ul>
			<div id="controls"></div>
			<div class="clear"></div>
			<div id="slideshow"></div>
		</div>
		<div id="exposure"></div>
		<div class="clear"></div>
	</div>

	<p>
		These pictures are from my 5 month thru-hike of the entire 2650 mile
		Pacific Crest Trail in 2011.
	</p>

<h3>Background</h3>
<p>I originally became interested in backpacking during my early adolescence in the Boy Scouts. My first trip was a mere half mile from the boat landing to our troop campsite. I nearly didn’t make it. My pack probably weighed more than half of my entire 12 year old body weight. I carried endless amounts of useless things, stuffed into various pockets of a backpack that was older than the person carrying it. My memories of that brief hike are blurry and full of pain. At one point in time I remember briefly collapsing on the side of the trail, an incident that led to the nickname ‘Turtle’ for the rest of the weekend. It didn’t take a genius to figure out that I was carrying too much stuff.
</p>
<p>
As I grew, my back became stronger and the load lessened. Still, backpacking was equal parts pain and pleasure. The Boy Scouts encouraged me to ‘Be Prepared’ and carry things that would never be used. I came to despise the actual travel of backpacking, but I was enamoured by the end result: camping in remote and beautiful locations. I dreaded getting up in the morning and leaving camp, as it would mean many hours of work and discomfort. I experienced many other discomforts: Insidious clouds of mosquitos intent on obtaining my blood at any price. Margarine leaking out of its container to completely soak a corner of my backpack. Food cravings beyond imagining.
</p>
<p>
On a 50 mile (long distance for the time) trip in the Cascades, I ran into two backpackers heading north. They were lean, tanned and self assured. Their backpacks were pitifully small and all of us heavily laden Scouts immediately became jealous. Inconceivably, these two nameless fellows were on their fourth month of hiking. I was dumbfounded! How could these Trail Gods go without pizza for so long? We were hiking on the Pacific Crest Trail, but this was the first time I became aware of it as something much larger than the small chunk of land we were currently traversing. Many years later, I would become one of those Northbound Trail Gods: lean, obsessive, and constantly craving pizza.
</p>
<p>
The Pacific Crest Trail stretches nearly 2700 miles from the border of Mexico in Southern California, to the border of Canada in Northern Washington. Above all else it is characterized by its variety. A hiker walking from border to border will encounter every single life zone in North America, from the extreme desert to the snowbound high alpine. The largest consistency is the trail’s tendency to stay high on ridges and give the hikers continuous eye candy to propel them forward. Hiking the entire trail in one season is a massive undertaking. Every year, approximately 500 folks attempt the trip. Fewer than half of them will make it to the other end. Many folks bow to injury. Others quickly decide that the lifestyle is not for them. Still others decide to take it easy and not worry about completing the whole trail in one season.
</p>
<p>
In the late nineties, the PCT became a reality for me. A friend lent me a copy of Ray Jardine’s quintessential PCT guide. It was less of a guide to the PCT and more of a philosophical text, explaining revolutionary techniques that completely changed the world of long distance backpacking. My mind was blown. The techniques were simple. Less weight leads to more miles which leads to less weight, ad infinitum. It would involve a transformation of how I viewed backpacking. Rather than being focused on hiking as a means to camp in cool places, I would have to turn it around and be focused on enjoying walking for its own merits. If you walk 25+ miles every day for months on end, you had better enjoy it!
</p>
<h2>I have made three attempts to hike the entire length of the PCT.</h2>

<h3>2002</h3>
</p>
<p>
In 2002, I left my first post-college job to hike the trail with my friend Patrick. We were able to complete about 450 miles to Aqua Dulce, just North of Los Angeles. It was a glorious and cruel introduction to the art of long distance walking. Our minds and bodies were broiled by the intense heat of the deserts. Every day was fear of more shadeless trail and hot temperatures. The trail was also lonely. We started out at the beginning of June, more than a month after the traditional start date of late April. Our pace was extreme. Right at the beginning, we started into big miles, 20 the first day, then 25 every day after. Our bodies responded well. Our minds did not.
</p>
<p>
We were out for 3 weeks when we called it quits. The reasons were legion but they would come back to haunt me. I began to remember the magic we encountered and the majesty of the lifestyle. The pain, both physical and mental, seemed manageable in retrospect. Within 3 months of leaving the trail, I was already starting the mental preparations for the next adventure.
</p>
<h3>2006</h3>
<p>
Four years later I returned, alone this time, to the border of Mexico to begin the long journey North. My start date was earlier by nearly two weeks. This would bring me cooler weather and more companions on the trail. I would have started earlier but for reports of massive snow accumulation in Central California. My mind was expecting the worst, and the expectations were constantly falling short. I began to enjoy myself. There were people around, but not constantly. Every meeting was welcome. I didn’t even run into other hikers until five days in.
</p>
<p>
At mile 650, at Walker Pass, my partner Samantha joined up and transformed the highly individual world that I was used to. She had 50 miles to get ready before we entered the High Sierra and things became very difficult. Tragically, she was forced off the trail at Tahoe (mile 1100) due to a partially torn Achillies. I continued on, alone, to finish the trail on Oct 1. Both Samantha and I kept a blog of our travels that year.
</p>
<h3>2011</h3>
<p>
I wasn’t done with the PCT. I wanted to do the whole thing with Samantha this time. We started even earlier, to a much more crowded trail. The snowfall in Central California was extreme that year with a very cold spring. For most of the month of July we were on snow for more than %50 of our day. We became adept at map and compass navigation and fording swift mountain snow runoff. In Northern California, things got easier and we began to glide North on massive days of 30 miles, maximizing our hiking time in the waning light of day. We kept a blog of this trip as well.
</p>
<p>
I am still not done with the PCT. I imagine a return, but perhaps not for 10 years or more. The experience is a huge commitment and a large expenditure of energy. I am best served by spending that energy elsewhere for the time being.
</p>
<h3>The Florida Trail</h3>
At the end of our year long 2011-12 travels, Samantha and I decided to hop on the Florida Trail. It is a very different experience from the PCT and requires a different mindset to appreciate. It is a young trail, stretching from the Everglades to the tip of the panhandle. It is the only long trail that must be hiked in the winter (dry season) and that is one of its main appeals. The FT is fantastically flat and the sweeping PCT vistas are impossible. There are many positive things to say about the FT. Perhaps the most positive is the fact that it stays in the middle of the state, keeping to the ‘Real Florida’. For folks unfamiliar to the state, the trail is a great cultural experience. The largest challenge, perhaps, is the amount of road walking. The trail is new and not fully established. Perhaps I will be ready for another attempt in 20 years. After a month of FT travel, Sam and I decided to call it quits and start heading back home.
</p>
<h3>Ultralight Tips</h3>
<ul>
  <li>keep your big 3 (pack, shelter, sleeping system) as light as you can. This is generally expensive stuff that shouldn’t be skimped upon. You can skimp on other, less important gear.</li>
  <li>wear lightweight breathable running shoes or trail runners. With a lighter pack you don’t need the ankle protection and your feet will thank you for the increased comfort</li>
  <li>don’t be afraid of big miles! The more ground you cover, the less time between resupply points and the less food you have to carry.</li>
  <li>carry only one set of clothing + contingency clothing (rain, wind, cold protection). A few pairs of socks, two underwear. Wash socks and underwear every day if able.</li>
  <li>smell the roses. If you aren’t enjoying yourself, what’s the point?</li>
</ul>
</div>
