<style>
  .blogcontent {
    font-size: 1em;
    padding-bottom: 25px;
  }
</style>
<div class="row">
  <div class="span6"><h2><%= post[:title] %></h2></div>
  <div class="span3"><%= post[:post_date] %></div>
</div>
<br />
<div class="blogcontent">
<%= post[:content] %>
</div>
