<style>
  .blogpost {
    padding-bottom: 25px;
  }
  .blogcontent {
    font-size: 1em;
  }
  .blogdate {
	  font-weight: bold;
    font-size: 1.3em;
	  float: right;
	  padding-right: 60px;
  }
</style>

<div class="blogpost">
  <div><h2><%= post.title %></h2></div>
  <br />
  <div class="blogcontent">
  <%= post.content %>
  </div>
  <div class="blogdate"><%= post.post_date %></div>
</div>
