<div class="container" style="margin-top:80px">
<p>I am a musician, outdoorsman and geek living in Portland, OR. To contact me,
take matthewalanphillips and stick a gmail on the end of it.</p>
 
<p>This site is coded via Ruby on Rails and hosted on Heroku. Visit my 
<a href="http://github.com/cosmiccat">Github</a> to see the source.
</p>
<p>Travel blogs:</p>
<ul>
	<li><a href="http://logsniffer.livejournal.com">2006</a>
	<li><a href="http://teamcolour.blogspot.com">2011</a>
</div>
