<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>Backpacking</h1><br />
    <blockquote>
      <p>Wander a whole summer if you can. Thousands of God's blessings will search you and soak you as if you were a sponge, and the big days will go by uncounted. If you are business-tangled and so burdened by duty that only weeks can be got out of the heavy laden year, give a month at least. The time will not be taken from the sum of life. Instead of shortening, it will indefinitely lengthen it and make you truly immortal.</p>
      <small>John Muir</small>
    </blockquote>
  </div>
  <h2>stuff I want to talk about</h2>
  <ul>
    <li>some image carousel thingy</li>
    <li>Preamble</li>
    <li><a href="http://teamcolour.blogspot.com/">2011</a></li>
    <li>Ultralight</li>
    <li><a href="http://logsniffer.livejournal.com/">2006</a></li>
  </ul>
  <p>
    Long distance backpacking (thru-hiking) is a means and an end.
    pic of entire pct.
    I originally became interested in thru-hiking after reading 
    Ray Jardine's book <bleah bleah bleah> in the late 90s. Ray
    introduced a Pacific Crest Trail that seemed easy, a combination
    of big miles and zen. The implementation proved to be more
    difficult than the theory.
  </p>

  <p>
    
  </p>
</div> <!-- /container -->
