<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>map@home</h1>
    <p>Hello World! Welcome to my home on the internets. </p>
  </div>

  <style>
    .front-button {
      width:100%;
      border: 1px solid;
      background-color:brown;
      margin-bottom:10px;
    }
    .front-button-text {
      background-color:yellow;
      display:table-cell;
      height:100px;
      vertical-align:middle;
      text-align:center;
    }
    .front-button-image {
      display:table-cell;
      <!-- float:right; -->
    }
  </style>

  <div class="front-button row">
    <div style="span10 offset1 display:table" id="button-div">
      <a href="/posts" style="text-decoration: none">
	<div class="front-button-text">Blog Posts</div>
	<div class="front-button-image"><%= image_tag("square.jpg") %></div>
      </a>
    </div>

    <div style="span10 offset1 display:table" id="button-div">
      <a href="/posts" style="text-decoration: none">
	<div class="front-button-image"><%= image_tag("square.jpg") %></div>
	<div class="front-button-text">Blog Posts</div>
      </a>
    </div>

    <div style="span10 offset1 display:table" id="button-div">
      <a href="/posts" style="text-decoration: none">
	<div class="front-button-text">Blog Posts</div>
	<div class="front-button-image"><%= image_tag("square.jpg") %></div>
      </a>
    </div>

    <div style="span10 offset1 display:table" id="button-div">
      <a href="/posts" style="text-decoration: none">
	<div class="front-button-image"><%= image_tag("square.jpg") %></div>
	<div class="front-button-text">Blog Posts</div>
      </a>
    </div>

  </div>

</div> <!-- /container -->

<script type="text/javascript">
  $(document).ready(function() {
    var resizeMenu = function() {
      var blockWidth = $("#button-div").innerWidth();
      var textBlockSize = blockWidth - 100;
      $(".front-button-text").each(function() {
        $(this).width(textBlockSize);
      });
    }

    $(window).resize(function() {
      resizeMenu();
    });

    resizeMenu();
  });
</script>
