<div class="container">

  <!-- Main hero unit for a primary marketing message or call to action -->
  <div class="hero-unit">
    <h1>map@home</h1>
    <p>Hello World! Welcome to my home on the internets. </p>
  </div>

  <style>
    .front-button {
      margin:10px 30px;
      text-align:center;
      vertical-align:middle;
      background-color:red;
    }
    .front-button-text {
      background-color:yellow;
      display:inline-block;
    }
  </style>

  <div class="front-button" class="row">
    <a href="/posts" style="text-decoration: none">
      <div class="span7 front-button-text">Blog Posts</div>
      <div class="span2"><%= image_tag("square.jpg") %></div>
    </a>
  </div>

</div> <!-- /container -->
