<style type="text/css">
      /* otherwise stuff gets hidden under the top nav */
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
</style>

<div class="container">
  <div class="row">
    <div class="span2">
      <ul class="nav nav-pills nav-stacked">
	<p><h4>Previous Posts</h4></p>
	<% @posts.each do |post| %>
	<li><a href="#"><%= post.title %></a></li>
	<% end %>
      </ul>
    </div>
    <div class="span10">
      <div class="page-header">
        <h1>Blog Posts</h1>
      </div>
      <% @posts.each do |post| %>
      <%= render :partial => "shared/single_post", :locals => {:post => post } %>
      <br />
      <% end %>
    </div>
  </div>
</div>

<code>
</code>
